.container{
  margin-left: 10%;
}
.project1{
  width: 500px;
}
.delani{
  width: 500px; 
}
.photographer{
  width: 500px;
}
.title{
  font-size: 50px;
  font-family: 'Noto Sans', sans-serif;
}
.name{
  margin: 74px;
  margin-top: 60px;
  margin-left: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 470px;
  padding-left: 30px;
  border: 2px solid grey;
  border-radius: 20px;
}
.l{
  color: blue;
}
.o{
  color: red;
}
.u{
  color: rgb(236, 213, 77);
}
.i{
  color: green;
}
.s{
  color: red;
}
.intro{
  display: flex;
}
nav{
  margin-top: 15px;
}
nav ul li {
  display: inline;
  padding: 25px;
  padding-top: 20px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.img h2{
  color: blue;
}
h4{
  color: blue;
  font-size: 24px;
}
.img{

}