.project1{
  width: 500px;
}
.delani{
  width: 500px; 
}
.photographer{
  width: 500px;
}
.l{
  color: blue;
}
.o{
  color: red;
}
.u{
  color: rgb(236, 213, 77);
}
.i{
  color: green;
}
.s{
  color: red;
}
.intro{
  display: flex;
}